.container-fluid{
    height:80%;
    display:flex;
    text-align:center;
    flex-direction:column;
    justify-content:center;
    
}
.share_button{
    padding-top:20px;
}
.form-control{
    margin-left:auto;
    margin-right:auto;
    width:30%;
}