.cardName {
    background-color: transparent;
    border: none;
    color: var(--text-navbar-color);
    border-radius: 3px;
    outline: none;
    padding-left: 3px;
    cursor: pointer;
}

.cardName.selectedRow {
    color: var(--text-brand-color);
}

.cardName:focus {
    background-color: var(--input-bg-brand-color);
    box-shadow: 1px 1px;
    cursor: text;
}

.table {
    background-color: var(--navbar-color);
    color: var(--text-navbar-color);
    cursor: default;
}

.custom-select {
    margin-bottom: 1px;
    margin-top: 1px;
}

.custom-select:active,
.custom-select:focus {
    border-color: var(--border-brand-color) !important;
    box-shadow: 0 0 0 2px var(--shadow-brand-color) !important;
}

.deckTableRow.selectedRow {
    background: var(--main-brand-color) !important;
    color: var(--text-brand-color) !important;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    color: var(--text-navbar-color);
    cursor: pointer;
}

.table-hover tbody tr.selectedRow:hover td,
.table-hover tbody tr.selectedRow:hover th {
    color: var(--text-brand-color);
    cursor: pointer;
}

.inputNumber {
    width: 40px;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    color: var(--text-navbar-color);
    border-radius: 3px;
    outline: none;
    padding-left: 3px;
    cursor: pointer;
}

.inputNumber:focus {
    box-shadow: 1px 1px;
    cursor: text;
}

.ruleSelect {
    width: 190px;
}

.triggerSelect {
    width: 140px;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.targetSelect {
    width: 220px;
}

.my-custom-scrollbar {
    position: relative;
    height: 20%;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

#cardTable tbody {
    max-height: 600px;
    overflow-y: auto;
    width: 100%;
}
