.cardName {
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 3px;
    outline: none;
    padding-left: 3px;
    cursor: pointer;
}

.cardName:focus {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px;
    cursor: text;
}

.table {
    background-color: #363041;
    color: white;
    cursor: default;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color: white;
    cursor: pointer;
  }