
label {
    color: var(--main-brand-color);
}

.dataTables_info {
    color: var(--main-brand-color);
}

.table {
    background-color: var(--content-color);
    color: var(--text-content-color);
    cursor: default;
    border-radius: 4px;
    border-color: var(--text-content-color);
    border: 2px solid var(--text-content-color);
}

th,
td {
    border-color: var(--text-content-color) !important;
}