/* Bootstrap Button color change */

.btn-primary {
  background-color: var(--main-brand-color);
  border-color: var(--border-brand-color);
}

.btn-primary:hover {
  background-color: var(--hover-brand-color);
  border-color: var(--border-brand-color);
}

.btn-primary:active,
.btn-primary:focus {
  background-color: var(--hover-brand-color) !important;
  border-color: var(--border-brand-color) !important;
  box-shadow: 0 0 0 2px var(--shadow-brand-color) !important;
}

.login-area {
  padding-left: 5px;
}

.myCheckbox {
  padding-left: 25px;
  margin-top: auto;
  margin-bottom: auto;
}