:root {
  --main-bg-color: #F3F6F5;

  --main-brand-color: #F69D52;

  /* ex. Used for button borrders */
  --border-brand-color: #d18140;

  /* ex. Used for button box shadow when pressed */
  --shadow-brand-color: #f7bb61c7;

  /* ex. Used for button hover */
  --hover-brand-color: #f7B37D;

  --navbar-color: #232223;

  /* Color of text apearing on top of the brand color */
  --text-brand-color: black;

  /* Color of text apearing on top of the navbar color */
  --text-navbar-color: white;

  /* Color of input boxes apearing on top of the navbar color */
  --input-bg-navbar-color: rgba(255, 255, 255, 0.4);

  /* Color of input boxes apearing on top of the navbar color */
  --input-bg-brand-color: rgba(255, 255, 255, 0.4);
}

body {
  background-color: var(--main-bg-color);
}

/* navbar */

.bg-dark {
  background-color: var(--navbar-color) !important;
}

.nav-item {
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-size: 22px;
  padding-right: 3px;
  padding-left: 3px;
}

.top-buffer {
  margin-top: 20px;
}

.nav-item.active {
  color: #000;
  background: var(--main-brand-color);
  border-radius: 6px;
  padding-right: 5px;
  padding-left: 5px
}

.logos {
  height: 35px;
  position: relative;
  display: inline-block;
}