:root {
  --main-bg-color: #0B294B;

  --main-brand-color: #F69D52;

  /* ex. Used for button borrders */
  --border-brand-color: #d18140;

  /* ex. Used for button box shadow when pressed */
  --shadow-brand-color: #f7bb61c7;

  /* ex. Used for button hover */
  --hover-brand-color: #f7B37D;

  --navbar-color: transparent;

  --content-color: #23222399;

  /* Color of text apearing on top of the brand color */
  --text-brand-color: black;

  /* Color of text apearing on top of the navbar color */
  --text-navbar-color: white;

  --text-content-color:#F69D52;

  /* Color of input boxes apearing on top of the navbar color */
  --input-bg-navbar-color: #ffffff66;

  /* Color of input boxes apearing on top of the navbar color */
  --input-bg-brand-color: #ffffff66;
}

body {
  background-color: var(--main-bg-color);
}

/* ----------------- Navbar ----------------- */

.bg-dark {
  background-color: var(--navbar-color) !important;
}

.nav-item {
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-size: 22px;
  padding-right: 3px;
  padding-left: 3px;
}

.top-buffer {
  margin-top: 20px;
}

.nav-item.active {
  color: #000;
  background: var(--main-brand-color);
  border-radius: 6px;
  padding-right: 5px;
  padding-left: 5px
}

/* ----------------- LOGO ----------------- */

#logoRuleImage {
  /* Get filter you need to aplly on this link:
     https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(80%) sepia(78%) saturate(3407%) hue-rotate(323deg) brightness(103%) contrast(93%);
}

#logoSetImage {
  /* Get filter you need to aplly on this link:
     https://codepen.io/sosuke/pen/Pjoqqp */
  margin-left: -6;
  filter: invert(71%) sepia(13%) saturate(271%) hue-rotate(160deg) brightness(92%) contrast(86%);
}

.logoImage {
  height: 36px;
}