.container-fluid{
    height:90%;
}
.left{
    text-align:center;
    display:flex;
    flex-direction:column;

}
.right{
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.table {
    text-align:center;
    background-color: transparent;
    color: var(--text-brand-color);
    cursor: default;
    width:350px;
    margin-left:auto;
    margin-right:auto;
    border:1px solid;
}
.table tbody{
    max-height:50px;
    overflow-y:scroll;
}
.joinButton{
    margin-top:250px;
}   
.exitButton{
    margin-top:30px;
}
#lobby_title{
    margin-top:20px;
    color:var(--text-brand-color);
}
#lobby_status{
    color:var(--text-brand-color);
}
#lobby_in_game{
    color:var(--text-brand-color);
    margin-bottom:100px;
}
#lobby_max{
    margin-top:50px;
    color:var(--text-brand-color);
}